.Pages {
  min-height: 8vh;
}

.Pages .LiveDataLabLogo {
  float: left;
  height: 8vmin;
  pointer-events: none;
}

.Pages a{
  float: left;
  min-width: 15vh;
  text-align: center;
  padding: 14px 12px;
  font-size: 20px;
  background-color: #ffffff;
  font-weight: bold;
  color:rgb(79, 79, 79)
}

.Pages a:hover {
  background-color: #ddd;
  color: black;
}

.Header {
  background-color: #e6e6e6;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  padding-top: 1%;
  justify-content: left;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: calc(10px + 2vmin);
  line-height: 0%;
  color: rgb(79, 79, 79);
}

.subtext {
  background-color: #e6e6e6;
  min-height: 100vh;
  box-sizing: border-box;
  justify-content: left;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  font-size: calc(5px + 2vmin);
  color: rgb(96, 96, 96);
}
